{
    "openapi": "3.1.0",
    "info": {
      "title": "Payload Manager Blob Storage",
      "version": "2025-01-05",
      "contact": {
        "name": "Integration Team",
        "email": "integrasjonsteamet@banenor.no"
      },
      "description": "API for the Payload Manager Blob Storage\n",
      "x-ms-code-generation-settings": {
        "header": "MIT",
        "strictSpecAdherence": false
      }
    },
    "servers": [
      {
        "url": "https://bnpaylmintnwestprod.blob.core.windows.net",
        "description": "Production instance for Bane NOR, this will have the alpha, beta and the latest released version available."
      },
      {
        "url": "https://bnpaylmintnwestdev.blob.core.windows.net",
        "description": "Internal development instance"
      },
      {
        "url": "https://bnpaylmintnwesttest.blob.core.windows.net",
        "description": "Internal test instance"
      }
    ],
    "paths": {
      "/": {
        "get": {
          "tags": [
            "service"
          ],
          "operationId": "Get_Service",
          "description": "gets the properties of a storage account's Blob service, including properties for Storage Analytics and CORS (Cross-Origin Resource Sharing) rules.",
          "summary": "Get operations on storage account (List Containers)",
          "parameters": [
            {
              "$ref": "#/components/parameters/Prefix"
            },
            {
              "$ref": "#/components/parameters/Marker"
            },
            {
              "$ref": "#/components/parameters/MaxResults"
            },
            {
              "$ref": "#/components/parameters/ListContainersInclude"
            },
            {
              "$ref": "#/components/parameters/Timeout"
            },
            {
              "$ref": "#/components/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/components/parameters/ClientRequestId"
            },
            {
              "$ref": "#/components/parameters/FilterBlobsWhere"
            }
          ],
          "responses": {
            "200": {
              "description": "Success.",
              "headers": {
                "x-ms-client-request-id": {
                  "x-ms-client-name": "ClientRequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "If a client request id header is sent in the request, this header will be present in the response with the same value."
                },
                "x-ms-request-id": {
                  "x-ms-client-name": "RequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header uniquely identifies the request that was made and can be used for troubleshooting the request."
                },
                "x-ms-version": {
                  "x-ms-client-name": "Version",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the version of the Blob service used to execute the request. This header is returned for requests made against version 2009-09-19 and above."
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the response was initiated"
                },
                "x-ms-sku-name": {
                  "x-ms-client-name": "SkuName",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "Standard_LRS",
                      "Standard_GRS",
                      "Standard_RAGRS",
                      "Standard_ZRS",
                      "Premium_LRS"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "SkuName",
                    "modelAsString": false
                  },
                  "description": "Identifies the sku name of the account"
                },
                "x-ms-account-kind": {
                  "x-ms-client-name": "AccountKind",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "Storage",
                      "BlobStorage",
                      "StorageV2",
                      "FileStorage",
                      "BlockBlobStorage"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "AccountKind",
                    "modelAsString": false
                  },
                  "description": "Identifies the account kind"
                },
                "x-ms-is-hns-enabled": {
                  "x-ms-client-name": "IsHierarchicalNamespaceEnabled",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "Version 2019-07-07 and newer. Indicates if the account has a hierarchical namespace enabled."
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/StorageServiceProperties"
                      },
                      {
                        "$ref": "#/components/schemas/ListContainersSegmentResponse"
                      },
                      {
                        "$ref": "#/components/schemas/StorageServiceStats"
                      },
                      {
                        "$ref": "#/components/schemas/FilterBlobSegment"
                      }
                    ]
                  }
                }
              }
            },
            "default": {
              "description": "Failure",
              "headers": {
                "x-ms-error-code": {
                  "x-ms-client-name": "ErrorCode",
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/StorageError"
                  }
                }
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "NextMarker"
          }
        },
        "parameters": [
          {
            "name": "restype",
            "description": "restype",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "service",
                "account"
              ]
            }
          },
          {
            "name": "comp",
            "description": "comp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "properties",
                "stats",
                "list",
                "userdelegationkey",
                "batch",
                "blobs"
              ]
            }
          }
        ]
      },
      "/{containerName}": {
        "get": {
          "tags": [
            "container"
          ],
          "operationId": "Container_GetProperties",
          "description": "returns all user-defined metadata and system properties for the specified container. The data returned does not include the container's list of blobs",
          "summary": "Get properties for a specified container",
          "parameters": [
            {
              "$ref": "#/components/parameters/Timeout"
            },
            {
              "$ref": "#/components/parameters/LeaseIdOptional"
            },
            {
              "$ref": "#/components/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/components/parameters/ClientRequestId"
            },
            {
              "$ref": "#/components/parameters/FilterBlobsWhere"
            },
            {
              "$ref": "#/components/parameters/Marker"
            },
            {
              "$ref": "#/components/parameters/MaxResults"
            },
            {
              "$ref": "#/components/parameters/FilterBlobsInclude"
            },
            {
              "$ref": "#/components/parameters/Prefix"
            },
            {
              "$ref": "#/components/parameters/Delimiter"
            }
          ],
          "responses": {
            "200": {
              "description": "Success",
              "headers": {
                "Content-Type": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The media type of the body of the response. For List Blobs this is 'application/xml'"
                },
                "x-ms-meta": {
                  "schema": {
                    "type": "string"
                  },
                  "x-ms-client-name": "Metadata",
                  "x-ms-header-collection-prefix": "x-ms-meta-"
                },
                "ETag": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The ETag contains a value that you can use to perform operations conditionally. If the request version is 2011-08-18 or newer, the ETag value will be in quotes."
                },
                "Last-Modified": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the container was last modified. Any operation that modifies the blob, including an update of the blob's metadata or properties, changes the last-modified time of the blob."
                },
                "x-ms-lease-duration": {
                  "x-ms-client-name": "LeaseDuration",
                  "description": "When a blob is leased, specifies whether the lease is of infinite or fixed duration.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "infinite",
                      "fixed"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseDurationType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-state": {
                  "x-ms-client-name": "LeaseState",
                  "description": "Lease state of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "available",
                      "leased",
                      "expired",
                      "breaking",
                      "broken"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStateType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-status": {
                  "x-ms-client-name": "LeaseStatus",
                  "description": "The current lease status of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "locked",
                      "unlocked"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStatusType",
                    "modelAsString": false
                  }
                },
                "x-ms-client-request-id": {
                  "x-ms-client-name": "ClientRequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "If a client request id header is sent in the request, this header will be present in the response with the same value."
                },
                "x-ms-request-id": {
                  "x-ms-client-name": "RequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header uniquely identifies the request that was made and can be used for troubleshooting the request."
                },
                "x-ms-version": {
                  "x-ms-client-name": "Version",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the version of the Blob service used to execute the request. This header is returned for requests made against version 2009-09-19 and above."
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the response was initiated"
                },
                "x-ms-blob-public-access": {
                  "x-ms-client-name": "BlobPublicAccess",
                  "description": "Indicated whether data in the container may be accessed publicly and the level of access",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "container",
                      "blob"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "PublicAccessType",
                    "modelAsString": true
                  }
                },
                "x-ms-has-immutability-policy": {
                  "x-ms-client-name": "HasImmutabilityPolicy",
                  "description": "Indicates whether the container has an immutability policy set on it.",
                  "schema": {
                    "type": "boolean"
                  }
                },
                "x-ms-has-legal-hold": {
                  "x-ms-client-name": "HasLegalHold",
                  "description": "Indicates whether the container has a legal hold.",
                  "schema": {
                    "type": "boolean"
                  }
                },
                "x-ms-default-encryption-scope": {
                  "x-ms-client-name": "DefaultEncryptionScope",
                  "description": "The default encryption scope for the container.",
                  "schema": {
                    "type": "string"
                  }
                },
                "x-ms-deny-encryption-scope-override": {
                  "x-ms-client-name": "DenyEncryptionScopeOverride",
                  "description": "Indicates whether the container's default encryption scope can be overriden.",
                  "schema": {
                    "type": "boolean"
                  }
                },
                "x-ms-immutable-storage-with-versioning-enabled": {
                  "x-ms-client-name": "IsImmutableStorageWithVersioningEnabled",
                  "description": "Indicates whether version level worm is enabled on a container.",
                  "schema": {
                    "type": "boolean"
                  }
                },
                "x-ms-sku-name": {
                  "x-ms-client-name": "SkuName",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "Standard_LRS",
                      "Standard_GRS",
                      "Standard_RAGRS",
                      "Standard_ZRS",
                      "Premium_LRS"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "SkuName",
                    "modelAsString": false
                  },
                  "description": "Identifies the sku name of the account"
                },
                "x-ms-account-kind": {
                  "x-ms-client-name": "AccountKind",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "Storage",
                      "BlobStorage",
                      "StorageV2",
                      "FileStorage",
                      "BlockBlobStorage"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "AccountKind",
                    "modelAsString": false
                  },
                  "description": "Identifies the account kind"
                },
                "x-ms-is-hns-enabled": {
                  "x-ms-client-name": "IsHierarchicalNamespaceEnabled",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "Version 2019-07-07 and newer. Indicates if the account has a hierarchical namespace enabled."
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "anyOf": [
                      {
                        "$ref": "#/components/schemas/SignedIdentifiers"
                      },
                      {
                        "$ref": "#/components/schemas/FilterBlobSegment"
                      },
                      {
                        "$ref": "#/components/schemas/ListBlobsFlatSegmentResponse"
                      },
                      {
                        "$ref": "#/components/schemas/ListBlobsHierarchySegmentResponse"
                      }
                    ]
                  }
                }
              }
            },
            "default": {
              "description": "Failure",
              "headers": {
                "x-ms-error-code": {
                  "x-ms-client-name": "ErrorCode",
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/StorageError"
                  }
                }
              }
            }
          },
          "x-ms-pageable": {
            "nextLinkName": "NextMarker"
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "name": "restype",
            "description": "restype",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "container"
              ]
            }
          },
          {
            "name": "comp",
            "description": "comp",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "metadata",
                "acl",
                "undelete",
                "rename",
                "batch",
                "blobs",
                "lease",
                "list",
                "properties"
              ]
            }
          },
          {
            "name": "x-ms-lease-action",
            "x-ms-client-name": "action",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "enum": [
                "acquire",
                "release",
                "renew",
                "break",
                "change"
              ]
            },
            "x-ms-enum": {
              "name": "LeaseAction",
              "modelAsString": false
            },
            "x-ms-parameter-location": "method",
            "description": "Describes what lease action to take."
          }
        ]
      },
      "/{containerName}/{*blob}": {
        "put": {
          "tags": [
            "blob"
          ],
          "operationId": "PageBlob_Create",
          "summary": "Create/Update Blob",
          "parameters": [
            {
              "$ref": "#/components/parameters/Timeout"
            },
            {
              "$ref": "#/components/parameters/Comp"
            },
            {
              "$ref": "#/components/parameters/AccessTierOptional"
            },
            {
              "$ref": "#/components/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/components/parameters/BlobCacheControl"
            },
            {
              "$ref": "#/components/parameters/BlobConditionAppendPos"
            },
            {
              "$ref": "#/components/parameters/BlobConditionMaxSize"
            },
            {
              "$ref": "#/components/parameters/BlobContentDisposition"
            },
            {
              "$ref": "#/components/parameters/BlobContentEncoding"
            },
            {
              "$ref": "#/components/parameters/BlobContentLanguage"
            },
            {
              "$ref": "#/components/parameters/BlobContentLengthRequired"
            },
            {
              "$ref": "#/components/parameters/BlobContentMD5"
            },
            {
              "$ref": "#/components/parameters/BlobContentType"
            },
            {
              "$ref": "#/components/parameters/BlobExpiryOptions"
            },
            {
              "$ref": "#/components/parameters/BlobExpiryTime"
            },
            {
              "$ref": "#/components/parameters/BlobSequenceNumber"
            },
            {
              "$ref": "#/components/parameters/BlobTagsHeader"
            },
            {
              "$ref": "#/components/parameters/BlockId"
            },
            {
              "$ref": "#/components/parameters/ClientRequestId"
            },
            {
              "$ref": "#/components/parameters/ContentCrc64"
            },
            {
              "$ref": "#/components/parameters/ContentLength"
            },
            {
              "$ref": "#/components/parameters/ContentMD5"
            },
            {
              "$ref": "#/components/parameters/CopyId"
            },
            {
              "$ref": "#/components/parameters/CopySource"
            },
            {
              "$ref": "#/components/parameters/CopySourceAuthorization"
            },
            {
              "$ref": "#/components/parameters/CopySourceBlobProperties"
            },
            {
              "$ref": "#/components/parameters/CopySourceTags"
            },
            {
              "$ref": "#/components/parameters/EncryptionAlgorithm"
            },
            {
              "$ref": "#/components/parameters/EncryptionKey"
            },
            {
              "$ref": "#/components/parameters/EncryptionKeySha256"
            },
            {
              "$ref": "#/components/parameters/EncryptionScope"
            },
            {
              "$ref": "#/components/parameters/IfMatch"
            },
            {
              "$ref": "#/components/parameters/IfModifiedSince"
            },
            {
              "$ref": "#/components/parameters/IfNoneMatch"
            },
            {
              "$ref": "#/components/parameters/IfSequenceNumberEqualTo"
            },
            {
              "$ref": "#/components/parameters/IfSequenceNumberLessThan"
            },
            {
              "$ref": "#/components/parameters/IfSequenceNumberLessThanOrEqualTo"
            },
            {
              "$ref": "#/components/parameters/IfTags"
            },
            {
              "$ref": "#/components/parameters/IfUnmodifiedSince"
            },
            {
              "$ref": "#/components/parameters/ImmutabilityPolicyExpiry"
            },
            {
              "$ref": "#/components/parameters/ImmutabilityPolicyMode"
            },
            {
              "$ref": "#/components/parameters/LeaseBreakPeriod"
            },
            {
              "$ref": "#/components/parameters/LeaseDuration"
            },
            {
              "$ref": "#/components/parameters/LeaseIdOptional"
            },
            {
              "$ref": "#/components/parameters/LegalHoldOptional"
            },
            {
              "$ref": "#/components/parameters/Metadata"
            },
            {
              "$ref": "#/components/parameters/ProposedLeaseIdOptional"
            },
            {
              "$ref": "#/components/parameters/Range"
            },
            {
              "$ref": "#/components/parameters/RehydratePriority"
            },
            {
              "$ref": "#/components/parameters/SealBlob"
            },
            {
              "$ref": "#/components/parameters/SequenceNumberAction"
            },
            {
              "$ref": "#/components/parameters/Snapshot"
            },
            {
              "$ref": "#/components/parameters/SourceContentCRC64"
            },
            {
              "$ref": "#/components/parameters/SourceContentMD5"
            },
            {
              "$ref": "#/components/parameters/SourceIfMatch"
            },
            {
              "$ref": "#/components/parameters/SourceIfModifiedSince"
            },
            {
              "$ref": "#/components/parameters/SourceIfNoneMatch"
            },
            {
              "$ref": "#/components/parameters/SourceIfTags"
            },
            {
              "$ref": "#/components/parameters/SourceIfUnmodifiedSince"
            },
            {
              "$ref": "#/components/parameters/SourceRange"
            },
            {
              "$ref": "#/components/parameters/StructuredBodyPut"
            },
            {
              "$ref": "#/components/parameters/StructuredContentLength"
            },
            {
              "$ref": "#/components/parameters/VersionId"
            }
          ],
          "responses": {
            "201": {
              "description": "The blob was created.",
              "headers": {
                "ETag": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The ETag contains a value that you can use to perform operations conditionally. If the request version is 2011-08-18 or newer, the ETag value will be in quotes."
                },
                "Last-Modified": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the container was last modified. Any operation that modifies the blob, including an update of the blob's metadata or properties, changes the last-modified time of the blob."
                },
                "Content-MD5": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  },
                  "description": "If the blob has an MD5 hash and this operation is to read the full blob, this response header is returned so that the client can check for message content integrity."
                },
                "x-ms-client-request-id": {
                  "x-ms-client-name": "ClientRequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "If a client request id header is sent in the request, this header will be present in the response with the same value."
                },
                "x-ms-request-id": {
                  "x-ms-client-name": "RequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header uniquely identifies the request that was made and can be used for troubleshooting the request."
                },
                "x-ms-version": {
                  "x-ms-client-name": "Version",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the version of the Blob service used to execute the request. This header is returned for requests made against version 2009-09-19 and above."
                },
                "x-ms-version-id": {
                  "x-ms-client-name": "VersionId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "A DateTime value returned by the service that uniquely identifies the blob. The value of this header indicates the blob version, and may be used in subsequent requests to access this version of the blob."
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the response was initiated"
                },
                "x-ms-request-server-encrypted": {
                  "x-ms-client-name": "IsServerEncrypted",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "The value of this header is set to true if the contents of the request are successfully encrypted using the specified algorithm, and false otherwise."
                },
                "x-ms-encryption-key-sha256": {
                  "x-ms-client-name": "EncryptionKeySha256",
                  "schema": {
                    "type": "string"
                  },
                  "description": "The SHA-256 hash of the encryption key used to encrypt the blob. This header is only returned when the blob was encrypted with a customer-provided key."
                },
                "x-ms-encryption-scope": {
                  "x-ms-client-name": "EncryptionScope",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Returns the name of the encryption scope used to encrypt the blob contents and application metadata.  Note that the absence of this header implies use of the default account encryption scope."
                },
                "x-ms-structured-body": {
                  "x-ms-client-name": "StructuredBodyType",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the structured message body was accepted and mirrors back the message schema version and properties."
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "type": "object",
                    "format": "file"
                  }
                },
                "application/octet-stream": {
                  "schema": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            },
            "default": {
              "description": "Failure",
              "headers": {
                "x-ms-error-code": {
                  "x-ms-client-name": "ErrorCode",
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/StorageError"
                  }
                }
              }
            }
          }
        },
        "get": {
          "tags": [
            "blob"
          ],
          "operationId": "Blob_Download",
          "summary": "Download blob",
          "parameters": [
            {
              "$ref": "#/components/parameters/Snapshot"
            },
            {
              "$ref": "#/components/parameters/VersionId"
            },
            {
              "$ref": "#/components/parameters/Timeout"
            },
            {
              "$ref": "#/components/parameters/Range"
            },
            {
              "$ref": "#/components/parameters/LeaseIdOptional"
            },
            {
              "$ref": "#/components/parameters/GetRangeContentMD5"
            },
            {
              "$ref": "#/components/parameters/GetRangeContentCRC64"
            },
            {
              "$ref": "#/components/parameters/StructuredBodyGet"
            },
            {
              "$ref": "#/components/parameters/EncryptionKey"
            },
            {
              "$ref": "#/components/parameters/EncryptionKeySha256"
            },
            {
              "$ref": "#/components/parameters/EncryptionAlgorithm"
            },
            {
              "$ref": "#/components/parameters/IfModifiedSince"
            },
            {
              "$ref": "#/components/parameters/IfUnmodifiedSince"
            },
            {
              "$ref": "#/components/parameters/IfMatch"
            },
            {
              "$ref": "#/components/parameters/IfNoneMatch"
            },
            {
              "$ref": "#/components/parameters/IfTags"
            },
            {
              "$ref": "#/components/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/components/parameters/ClientRequestId"
            },
            {
              "$ref": "#/components/parameters/Marker"
            },
            {
              "$ref": "#/components/parameters/MaxResults"
            },
            {
              "$ref": "#/components/parameters/PrevSnapshot"
            },
            {
              "$ref": "#/components/parameters/PrevSnapshotUrl"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns the content of the entire blob.",
              "headers": {
                "Last-Modified": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the container was last modified. Any operation that modifies the blob, including an update of the blob's metadata or properties, changes the last-modified time of the blob."
                },
                "x-ms-creation-time": {
                  "x-ms-client-name": "CreationTime",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the blob was created."
                },
                "x-ms-meta": {
                  "schema": {
                    "type": "string"
                  },
                  "x-ms-client-name": "Metadata",
                  "x-ms-header-collection-prefix": "x-ms-meta-"
                },
                "x-ms-or-policy-id": {
                  "x-ms-client-name": "ObjectReplicationPolicyId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Optional. Only valid when Object Replication is enabled for the storage container and on the destination blob of the replication."
                },
                "x-ms-or": {
                  "schema": {
                    "type": "string"
                  },
                  "x-ms-client-name": "ObjectReplicationRules",
                  "x-ms-header-collection-prefix": "x-ms-or-",
                  "description": "Optional. Only valid when Object Replication is enabled for the storage container and on the source blob of the replication. When retrieving this header, it will return the header with the policy id and rule id (e.g. x-ms-or-policyid_ruleid), and the value will be the status of the replication (e.g. complete, failed)."
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The number of bytes present in the response body."
                },
                "Content-Type": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The media type of the body of the response. For Download Blob this is 'application/octet-stream'"
                },
                "Content-Range": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the range of bytes returned in the event that the client requested a subset of the blob by setting the 'Range' request header."
                },
                "ETag": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The ETag contains a value that you can use to perform operations conditionally. If the request version is 2011-08-18 or newer, the ETag value will be in quotes."
                },
                "Content-MD5": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  },
                  "description": "If the blob has an MD5 hash and this operation is to read the full blob, this response header is returned so that the client can check for message content integrity."
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the Content-Encoding request header"
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header is returned if it was previously specified for the blob."
                },
                "Content-Disposition": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the 'x-ms-blob-content-disposition' header. The Content-Disposition response header field conveys additional information about how to process the response payload, and also can be used to attach additional metadata. For example, if set to attachment, it indicates that the user-agent should not display the response, but instead show a Save As dialog with a filename other than the blob name specified."
                },
                "Content-Language": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the Content-Language request header."
                },
                "x-ms-blob-sequence-number": {
                  "x-ms-client-name": "BlobSequenceNumber",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The current sequence number for a page blob. This header is not returned for block blobs or append blobs"
                },
                "x-ms-blob-type": {
                  "x-ms-client-name": "BlobType",
                  "description": "The blob's type.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "BlockBlob",
                      "PageBlob",
                      "AppendBlob"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "BlobType",
                    "modelAsString": false
                  }
                },
                "x-ms-copy-completion-time": {
                  "x-ms-client-name": "CopyCompletionTime",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Conclusion time of the last attempted Copy Blob operation where this blob was the destination blob. This value can specify the time of a completed, aborted, or failed copy attempt. This header does not appear if a copy is pending, if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List."
                },
                "x-ms-copy-status-description": {
                  "x-ms-client-name": "CopyStatusDescription",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Only appears when x-ms-copy-status is failed or pending. Describes the cause of the last fatal or non-fatal copy operation failure. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List"
                },
                "x-ms-copy-id": {
                  "x-ms-client-name": "CopyId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "String identifier for this copy operation. Use with Get Blob Properties to check the status of this copy operation, or pass to Abort Copy Blob to abort a pending copy."
                },
                "x-ms-copy-progress": {
                  "x-ms-client-name": "CopyProgress",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Contains the number of bytes copied and the total bytes in the source in the last attempted Copy Blob operation where this blob was the destination blob. Can show between 0 and Content-Length bytes copied. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List"
                },
                "x-ms-copy-source": {
                  "x-ms-client-name": "CopySource",
                  "schema": {
                    "type": "string"
                  },
                  "description": "URL up to 2 KB in length that specifies the source blob or file used in the last attempted Copy Blob operation where this blob was the destination blob. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List."
                },
                "x-ms-copy-status": {
                  "x-ms-client-name": "CopyStatus",
                  "description": "State of the copy operation identified by x-ms-copy-id.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "success",
                      "aborted",
                      "failed"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "CopyStatusType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-duration": {
                  "x-ms-client-name": "LeaseDuration",
                  "description": "When a blob is leased, specifies whether the lease is of infinite or fixed duration.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "infinite",
                      "fixed"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseDurationType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-state": {
                  "x-ms-client-name": "LeaseState",
                  "description": "Lease state of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "available",
                      "leased",
                      "expired",
                      "breaking",
                      "broken"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStateType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-status": {
                  "x-ms-client-name": "LeaseStatus",
                  "description": "The current lease status of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "locked",
                      "unlocked"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStatusType",
                    "modelAsString": false
                  }
                },
                "x-ms-client-request-id": {
                  "x-ms-client-name": "ClientRequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "If a client request id header is sent in the request, this header will be present in the response with the same value."
                },
                "x-ms-request-id": {
                  "x-ms-client-name": "RequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header uniquely identifies the request that was made and can be used for troubleshooting the request."
                },
                "x-ms-version": {
                  "x-ms-client-name": "Version",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the version of the Blob service used to execute the request. This header is returned for requests made against version 2009-09-19 and above."
                },
                "x-ms-version-id": {
                  "x-ms-client-name": "VersionId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "A DateTime value returned by the service that uniquely identifies the blob. The value of this header indicates the blob version, and may be used in subsequent requests to access this version of the blob."
                },
                "x-ms-is-current-version": {
                  "x-ms-client-name": "IsCurrentVersion",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "The value of this header indicates whether version of this blob is a current version, see also x-ms-version-id header."
                },
                "Accept-Ranges": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates that the service supports requests for partial blob content."
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the response was initiated"
                },
                "x-ms-blob-committed-block-count": {
                  "x-ms-client-name": "BlobCommittedBlockCount",
                  "schema": {
                    "type": "integer"
                  },
                  "description": "The number of committed blocks present in the blob. This header is returned only for append blobs."
                },
                "x-ms-server-encrypted": {
                  "x-ms-client-name": "IsServerEncrypted",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "The value of this header is set to true if the blob data and application metadata are completely encrypted using the specified algorithm. Otherwise, the value is set to false (when the blob is unencrypted, or if only parts of the blob/application metadata are encrypted)."
                },
                "x-ms-encryption-key-sha256": {
                  "x-ms-client-name": "EncryptionKeySha256",
                  "schema": {
                    "type": "string"
                  },
                  "description": "The SHA-256 hash of the encryption key used to encrypt the blob. This header is only returned when the blob was encrypted with a customer-provided key."
                },
                "x-ms-encryption-scope": {
                  "x-ms-client-name": "EncryptionScope",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Returns the name of the encryption scope used to encrypt the blob contents and application metadata.  Note that the absence of this header implies use of the default account encryption scope."
                },
                "x-ms-blob-content-md5": {
                  "x-ms-client-name": "BlobContentMD5",
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  },
                  "description": "If the blob has a MD5 hash, and if request contains range header (Range or x-ms-range), this response header is returned with the value of the whole blob's MD5 value. This value may or may not be equal to the value returned in Content-MD5 header, with the latter calculated from the requested range"
                },
                "x-ms-tag-count": {
                  "x-ms-client-name": "TagCount",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The number of tags associated with the blob"
                },
                "x-ms-blob-sealed": {
                  "x-ms-client-name": "IsSealed",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "If this blob has been sealed"
                },
                "x-ms-last-access-time": {
                  "x-ms-client-name": "LastAccessed",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the blob was last read or written to"
                },
                "x-ms-immutability-policy-until-date": {
                  "x-ms-client-name": "ImmutabilityPolicyExpiresOn",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the blob immutability policy will expire."
                },
                "x-ms-immutability-policy-mode": {
                  "x-ms-client-name": "ImmutabilityPolicyMode",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "Mutable",
                      "Unlocked",
                      "Locked"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "BlobImmutabilityPolicyMode",
                    "modelAsString": false
                  },
                  "description": "Indicates immutability policy mode."
                },
                "x-ms-legal-hold": {
                  "x-ms-client-name": "LegalHold",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "Indicates if a legal hold is present on the blob."
                },
                "x-ms-structured-body": {
                  "x-ms-client-name": "StructuredBodyType",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the response body contains a structured message and specifies the message schema version and properties."
                },
                "x-ms-structured-content-length": {
                  "x-ms-client-name": "StructuredContentLength",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The length of the blob/file content inside the message body when the response body is returned as a structured message. Will always be smaller than Content-Length."
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "type": "object",
                    "format": "file"
                  }
                }
              }
            },
            "206": {
              "description": "Returns the content of a specified range of the blob.",
              "headers": {
                "Last-Modified": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the container was last modified. Any operation that modifies the blob, including an update of the blob's metadata or properties, changes the last-modified time of the blob."
                },
                "x-ms-creation-time": {
                  "x-ms-client-name": "CreationTime",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the blob was created."
                },
                "x-ms-meta": {
                  "schema": {
                    "type": "string"
                  },
                  "x-ms-client-name": "Metadata",
                  "x-ms-header-collection-prefix": "x-ms-meta-"
                },
                "x-ms-or-policy-id": {
                  "x-ms-client-name": "ObjectReplicationPolicyId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Optional. Only valid when Object Replication is enabled for the storage container and on the destination blob of the replication."
                },
                "x-ms-or": {
                  "schema": {
                    "type": "string"
                  },
                  "x-ms-client-name": "ObjectReplicationRules",
                  "x-ms-header-collection-prefix": "x-ms-or-",
                  "description": "Optional. Only valid when Object Replication is enabled for the storage container and on the source blob of the replication. When retrieving this header, it will return the header with the policy id and rule id (e.g. x-ms-or-policyid_ruleid), and the value will be the status of the replication (e.g. complete, failed)."
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The number of bytes present in the response body."
                },
                "Content-Type": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The media type of the body of the response. For Download Blob this is 'application/octet-stream'"
                },
                "Content-Range": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the range of bytes returned in the event that the client requested a subset of the blob by setting the 'Range' request header."
                },
                "ETag": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The ETag contains a value that you can use to perform operations conditionally. If the request version is 2011-08-18 or newer, the ETag value will be in quotes."
                },
                "Content-MD5": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  },
                  "description": "If the blob has an MD5 hash and this operation is to read the full blob, this response header is returned so that the client can check for message content integrity."
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the Content-Encoding request header"
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header is returned if it was previously specified for the blob."
                },
                "Content-Disposition": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the 'x-ms-blob-content-disposition' header. The Content-Disposition response header field conveys additional information about how to process the response payload, and also can be used to attach additional metadata. For example, if set to attachment, it indicates that the user-agent should not display the response, but instead show a Save As dialog with a filename other than the blob name specified."
                },
                "Content-Language": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the Content-Language request header."
                },
                "x-ms-blob-sequence-number": {
                  "x-ms-client-name": "BlobSequenceNumber",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The current sequence number for a page blob. This header is not returned for block blobs or append blobs"
                },
                "x-ms-blob-type": {
                  "x-ms-client-name": "BlobType",
                  "description": "The blob's type.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "BlockBlob",
                      "PageBlob",
                      "AppendBlob"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "BlobType",
                    "modelAsString": false
                  }
                },
                "x-ms-content-crc64": {
                  "x-ms-client-name": "ContentCrc64",
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  },
                  "description": "If the request is to read a specified range and the x-ms-range-get-content-crc64 is set to true, then the request returns a crc64 for the range, as long as the range size is less than or equal to 4 MB. If both x-ms-range-get-content-crc64 & x-ms-range-get-content-md5 is specified in the same request, it will fail with 400(Bad Request)"
                },
                "x-ms-copy-completion-time": {
                  "x-ms-client-name": "CopyCompletionTime",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Conclusion time of the last attempted Copy Blob operation where this blob was the destination blob. This value can specify the time of a completed, aborted, or failed copy attempt. This header does not appear if a copy is pending, if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List."
                },
                "x-ms-copy-status-description": {
                  "x-ms-client-name": "CopyStatusDescription",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Only appears when x-ms-copy-status is failed or pending. Describes the cause of the last fatal or non-fatal copy operation failure. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List"
                },
                "x-ms-copy-id": {
                  "x-ms-client-name": "CopyId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "String identifier for this copy operation. Use with Get Blob Properties to check the status of this copy operation, or pass to Abort Copy Blob to abort a pending copy."
                },
                "x-ms-copy-progress": {
                  "x-ms-client-name": "CopyProgress",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Contains the number of bytes copied and the total bytes in the source in the last attempted Copy Blob operation where this blob was the destination blob. Can show between 0 and Content-Length bytes copied. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List"
                },
                "x-ms-copy-source": {
                  "x-ms-client-name": "CopySource",
                  "schema": {
                    "type": "string"
                  },
                  "description": "URL up to 2 KB in length that specifies the source blob or file used in the last attempted Copy Blob operation where this blob was the destination blob. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List."
                },
                "x-ms-copy-status": {
                  "x-ms-client-name": "CopyStatus",
                  "description": "State of the copy operation identified by x-ms-copy-id.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "success",
                      "aborted",
                      "failed"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "CopyStatusType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-duration": {
                  "x-ms-client-name": "LeaseDuration",
                  "description": "When a blob is leased, specifies whether the lease is of infinite or fixed duration.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "infinite",
                      "fixed"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseDurationType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-state": {
                  "x-ms-client-name": "LeaseState",
                  "description": "Lease state of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "available",
                      "leased",
                      "expired",
                      "breaking",
                      "broken"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStateType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-status": {
                  "x-ms-client-name": "LeaseStatus",
                  "description": "The current lease status of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "locked",
                      "unlocked"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStatusType",
                    "modelAsString": false
                  }
                },
                "x-ms-client-request-id": {
                  "x-ms-client-name": "ClientRequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "If a client request id header is sent in the request, this header will be present in the response with the same value."
                },
                "x-ms-request-id": {
                  "x-ms-client-name": "RequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header uniquely identifies the request that was made and can be used for troubleshooting the request."
                },
                "x-ms-version": {
                  "x-ms-client-name": "Version",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the version of the Blob service used to execute the request. This header is returned for requests made against version 2009-09-19 and above."
                },
                "x-ms-version-id": {
                  "x-ms-client-name": "VersionId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "A DateTime value returned by the service that uniquely identifies the blob. The value of this header indicates the blob version, and may be used in subsequent requests to access this version of the blob."
                },
                "x-ms-is-current-version": {
                  "x-ms-client-name": "IsCurrentVersion",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "The value of this header indicates whether version of this blob is a current version, see also x-ms-version-id header."
                },
                "Accept-Ranges": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates that the service supports requests for partial blob content."
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the response was initiated"
                },
                "x-ms-blob-committed-block-count": {
                  "x-ms-client-name": "BlobCommittedBlockCount",
                  "schema": {
                    "type": "integer"
                  },
                  "description": "The number of committed blocks present in the blob. This header is returned only for append blobs."
                },
                "x-ms-server-encrypted": {
                  "x-ms-client-name": "IsServerEncrypted",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "The value of this header is set to true if the blob data and application metadata are completely encrypted using the specified algorithm. Otherwise, the value is set to false (when the blob is unencrypted, or if only parts of the blob/application metadata are encrypted)."
                },
                "x-ms-encryption-key-sha256": {
                  "x-ms-client-name": "EncryptionKeySha256",
                  "schema": {
                    "type": "string"
                  },
                  "description": "The SHA-256 hash of the encryption key used to encrypt the blob. This header is only returned when the blob was encrypted with a customer-provided key."
                },
                "x-ms-encryption-scope": {
                  "x-ms-client-name": "EncryptionScope",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Returns the name of the encryption scope used to encrypt the blob contents and application metadata.  Note that the absence of this header implies use of the default account encryption scope."
                },
                "x-ms-blob-content-md5": {
                  "x-ms-client-name": "BlobContentMD5",
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  },
                  "description": "If the blob has a MD5 hash, and if request contains range header (Range or x-ms-range), this response header is returned with the value of the whole blob's MD5 value. This value may or may not be equal to the value returned in Content-MD5 header, with the latter calculated from the requested range"
                },
                "x-ms-tag-count": {
                  "x-ms-client-name": "TagCount",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The number of tags associated with the blob"
                },
                "x-ms-blob-sealed": {
                  "x-ms-client-name": "IsSealed",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "If this blob has been sealed"
                },
                "x-ms-last-access-time": {
                  "x-ms-client-name": "LastAccessed",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the blob was last read or written to"
                },
                "x-ms-immutability-policy-until-date": {
                  "x-ms-client-name": "ImmutabilityPolicyExpiresOn",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the blob immutability policy will expire."
                },
                "x-ms-immutability-policy-mode": {
                  "x-ms-client-name": "ImmutabilityPolicyMode",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates immutability policy mode."
                },
                "x-ms-legal-hold": {
                  "x-ms-client-name": "LegalHold",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "Indicates if a legal hold is present on the blob."
                },
                "x-ms-structured-body": {
                  "x-ms-client-name": "StructuredBodyType",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the response body contains a structured message and specifies the message schema version and properties."
                },
                "x-ms-structured-content-length": {
                  "x-ms-client-name": "StructuredContentLength",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The length of the blob/file content inside the message body when the response body is returned as a structured message. Will always be smaller than Content-Length."
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "type": "object",
                    "format": "file"
                  }
                }
              }
            },
            "default": {
              "description": "Failure",
              "headers": {
                "x-ms-error-code": {
                  "x-ms-client-name": "ErrorCode",
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/StorageError"
                  }
                }
              }
            }
          }
        },
        "head": {
          "tags": [
            "blob"
          ],
          "operationId": "Blob_GetProperties",
          "summary": "Get blob properties",
          "parameters": [
            {
              "$ref": "#/components/parameters/Snapshot"
            },
            {
              "$ref": "#/components/parameters/VersionId"
            },
            {
              "$ref": "#/components/parameters/Timeout"
            },
            {
              "$ref": "#/components/parameters/LeaseIdOptional"
            },
            {
              "$ref": "#/components/parameters/EncryptionKey"
            },
            {
              "$ref": "#/components/parameters/EncryptionKeySha256"
            },
            {
              "$ref": "#/components/parameters/EncryptionAlgorithm"
            },
            {
              "$ref": "#/components/parameters/IfModifiedSince"
            },
            {
              "$ref": "#/components/parameters/IfUnmodifiedSince"
            },
            {
              "$ref": "#/components/parameters/IfMatch"
            },
            {
              "$ref": "#/components/parameters/IfNoneMatch"
            },
            {
              "$ref": "#/components/parameters/IfTags"
            },
            {
              "$ref": "#/components/parameters/ApiVersionParameter"
            },
            {
              "$ref": "#/components/parameters/ClientRequestId"
            }
          ],
          "responses": {
            "200": {
              "description": "Returns the properties of the blob.",
              "headers": {
                "Last-Modified": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the blob was last modified. Any operation that modifies the blob, including an update of the blob's metadata or properties, changes the last-modified time of the blob."
                },
                "x-ms-creation-time": {
                  "x-ms-client-name": "CreationTime",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Returns the date and time the blob was created."
                },
                "x-ms-meta": {
                  "schema": {
                    "type": "string"
                  },
                  "x-ms-client-name": "Metadata",
                  "x-ms-header-collection-prefix": "x-ms-meta-"
                },
                "x-ms-or-policy-id": {
                  "x-ms-client-name": "ObjectReplicationPolicyId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Optional. Only valid when Object Replication is enabled for the storage container and on the destination blob of the replication."
                },
                "x-ms-or": {
                  "schema": {
                    "type": "string"
                  },
                  "x-ms-client-name": "ObjectReplicationRules",
                  "x-ms-header-collection-prefix": "x-ms-or-",
                  "description": "Optional. Only valid when Object Replication is enabled for the storage container and on the source blob of the replication. When retrieving this header, it will return the header with the policy id and rule id (e.g. x-ms-or-policyid_ruleid), and the value will be the status of the replication (e.g. complete, failed)."
                },
                "x-ms-blob-type": {
                  "x-ms-client-name": "BlobType",
                  "description": "The blob's type.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "BlockBlob",
                      "PageBlob",
                      "AppendBlob"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "BlobType",
                    "modelAsString": false
                  }
                },
                "x-ms-copy-completion-time": {
                  "x-ms-client-name": "CopyCompletionTime",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "Conclusion time of the last attempted Copy Blob operation where this blob was the destination blob. This value can specify the time of a completed, aborted, or failed copy attempt. This header does not appear if a copy is pending, if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List."
                },
                "x-ms-copy-status-description": {
                  "x-ms-client-name": "CopyStatusDescription",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Only appears when x-ms-copy-status is failed or pending. Describes the cause of the last fatal or non-fatal copy operation failure. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List"
                },
                "x-ms-copy-id": {
                  "x-ms-client-name": "CopyId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "String identifier for this copy operation. Use with Get Blob Properties to check the status of this copy operation, or pass to Abort Copy Blob to abort a pending copy."
                },
                "x-ms-copy-progress": {
                  "x-ms-client-name": "CopyProgress",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Contains the number of bytes copied and the total bytes in the source in the last attempted Copy Blob operation where this blob was the destination blob. Can show between 0 and Content-Length bytes copied. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List"
                },
                "x-ms-copy-source": {
                  "x-ms-client-name": "CopySource",
                  "schema": {
                    "type": "string"
                  },
                  "description": "URL up to 2 KB in length that specifies the source blob or file used in the last attempted Copy Blob operation where this blob was the destination blob. This header does not appear if this blob has never been the destination in a Copy Blob operation, or if this blob has been modified after a concluded Copy Blob operation using Set Blob Properties, Put Blob, or Put Block List."
                },
                "x-ms-copy-status": {
                  "x-ms-client-name": "CopyStatus",
                  "description": "State of the copy operation identified by x-ms-copy-id.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "pending",
                      "success",
                      "aborted",
                      "failed"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "CopyStatusType",
                    "modelAsString": false
                  }
                },
                "x-ms-incremental-copy": {
                  "x-ms-client-name": "IsIncrementalCopy",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "Included if the blob is incremental copy blob."
                },
                "x-ms-copy-destination-snapshot": {
                  "x-ms-client-name": "DestinationSnapshot",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Included if the blob is incremental copy blob or incremental copy snapshot, if x-ms-copy-status is success. Snapshot time of the last successful incremental copy snapshot for this blob."
                },
                "x-ms-lease-duration": {
                  "x-ms-client-name": "LeaseDuration",
                  "description": "When a blob is leased, specifies whether the lease is of infinite or fixed duration.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "infinite",
                      "fixed"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseDurationType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-state": {
                  "x-ms-client-name": "LeaseState",
                  "description": "Lease state of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "available",
                      "leased",
                      "expired",
                      "breaking",
                      "broken"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStateType",
                    "modelAsString": false
                  }
                },
                "x-ms-lease-status": {
                  "x-ms-client-name": "LeaseStatus",
                  "description": "The current lease status of the blob.",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "locked",
                      "unlocked"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "LeaseStatusType",
                    "modelAsString": false
                  }
                },
                "Content-Length": {
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The number of bytes present in the response body."
                },
                "Content-Type": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The content type specified for the blob. The default content type is 'application/octet-stream'"
                },
                "ETag": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "The ETag contains a value that you can use to perform operations conditionally. If the request version is 2011-08-18 or newer, the ETag value will be in quotes."
                },
                "Content-MD5": {
                  "schema": {
                    "type": "string",
                    "format": "byte"
                  },
                  "description": "If the blob has an MD5 hash and this operation is to read the full blob, this response header is returned so that the client can check for message content integrity."
                },
                "Content-Encoding": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the Content-Encoding request header"
                },
                "Content-Disposition": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the 'x-ms-blob-content-disposition' header. The Content-Disposition response header field conveys additional information about how to process the response payload, and also can be used to attach additional metadata. For example, if set to attachment, it indicates that the user-agent should not display the response, but instead show a Save As dialog with a filename other than the blob name specified."
                },
                "Content-Language": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header returns the value that was specified for the Content-Language request header."
                },
                "Cache-Control": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header is returned if it was previously specified for the blob."
                },
                "x-ms-blob-sequence-number": {
                  "x-ms-client-name": "BlobSequenceNumber",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The current sequence number for a page blob. This header is not returned for block blobs or append blobs"
                },
                "x-ms-client-request-id": {
                  "x-ms-client-name": "ClientRequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "If a client request id header is sent in the request, this header will be present in the response with the same value."
                },
                "x-ms-request-id": {
                  "x-ms-client-name": "RequestId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "This header uniquely identifies the request that was made and can be used for troubleshooting the request."
                },
                "x-ms-version": {
                  "x-ms-client-name": "Version",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates the version of the Blob service used to execute the request. This header is returned for requests made against version 2009-09-19 and above."
                },
                "Date": {
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the response was initiated"
                },
                "Accept-Ranges": {
                  "schema": {
                    "type": "string"
                  },
                  "description": "Indicates that the service supports requests for partial blob content."
                },
                "x-ms-blob-committed-block-count": {
                  "x-ms-client-name": "BlobCommittedBlockCount",
                  "schema": {
                    "type": "integer"
                  },
                  "description": "The number of committed blocks present in the blob. This header is returned only for append blobs."
                },
                "x-ms-server-encrypted": {
                  "x-ms-client-name": "IsServerEncrypted",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "The value of this header is set to true if the blob data and application metadata are completely encrypted using the specified algorithm. Otherwise, the value is set to false (when the blob is unencrypted, or if only parts of the blob/application metadata are encrypted)."
                },
                "x-ms-encryption-key-sha256": {
                  "x-ms-client-name": "EncryptionKeySha256",
                  "schema": {
                    "type": "string"
                  },
                  "description": "The SHA-256 hash of the encryption key used to encrypt the metadata. This header is only returned when the metadata was encrypted with a customer-provided key."
                },
                "x-ms-encryption-scope": {
                  "x-ms-client-name": "EncryptionScope",
                  "schema": {
                    "type": "string"
                  },
                  "description": "Returns the name of the encryption scope used to encrypt the blob contents and application metadata.  Note that the absence of this header implies use of the default account encryption scope."
                },
                "x-ms-access-tier": {
                  "x-ms-client-name": "AccessTier",
                  "schema": {
                    "type": "string"
                  },
                  "description": "The tier of page blob on a premium storage account or tier of block blob on blob storage LRS accounts. For a list of allowed premium page blob tiers, see https://docs.microsoft.com/en-us/azure/virtual-machines/windows/premium-storage#features. For blob storage LRS accounts, valid values are Hot/Cool/Archive."
                },
                "x-ms-access-tier-inferred": {
                  "x-ms-client-name": "AccessTierInferred",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "For page blobs on a premium storage account only. If the access tier is not explicitly set on the blob, the tier is inferred based on its content length and this header will be returned with true value."
                },
                "x-ms-archive-status": {
                  "x-ms-client-name": "ArchiveStatus",
                  "schema": {
                    "type": "string"
                  },
                  "description": "For blob storage LRS accounts, valid values are rehydrate-pending-to-hot/rehydrate-pending-to-cool. If the blob is being rehydrated and is not complete then this header is returned indicating that rehydrate is pending and also tells the destination tier."
                },
                "x-ms-access-tier-change-time": {
                  "x-ms-client-name": "AccessTierChangeTime",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "The time the tier was changed on the object. This is only returned if the tier on the block blob was ever set."
                },
                "x-ms-version-id": {
                  "x-ms-client-name": "VersionId",
                  "schema": {
                    "type": "string"
                  },
                  "description": "A DateTime value returned by the service that uniquely identifies the blob. The value of this header indicates the blob version, and may be used in subsequent requests to access this version of the blob."
                },
                "x-ms-is-current-version": {
                  "x-ms-client-name": "IsCurrentVersion",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "The value of this header indicates whether version of this blob is a current version, see also x-ms-version-id header."
                },
                "x-ms-tag-count": {
                  "x-ms-client-name": "TagCount",
                  "schema": {
                    "type": "integer",
                    "format": "int64"
                  },
                  "description": "The number of tags associated with the blob"
                },
                "x-ms-expiry-time": {
                  "x-ms-client-name": "ExpiresOn",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "The time this blob will expire."
                },
                "x-ms-blob-sealed": {
                  "x-ms-client-name": "IsSealed",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "If this blob has been sealed"
                },
                "x-ms-rehydrate-priority": {
                  "x-ms-client-name": "RehydratePriority",
                  "description": "If an object is in rehydrate pending state then this header is returned with priority of rehydrate. Valid values are High and Standard.",
                  "schema": {
                    "type": "string"
                  }
                },
                "x-ms-last-access-time": {
                  "x-ms-client-name": "LastAccessed",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the blob was last read or written to"
                },
                "x-ms-immutability-policy-until-date": {
                  "x-ms-client-name": "ImmutabilityPolicyExpiresOn",
                  "schema": {
                    "type": "string",
                    "format": "date-time-rfc1123"
                  },
                  "description": "UTC date/time value generated by the service that indicates the time at which the blob immutability policy will expire."
                },
                "x-ms-immutability-policy-mode": {
                  "x-ms-client-name": "ImmutabilityPolicyMode",
                  "schema": {
                    "type": "string",
                    "enum": [
                      "Mutable",
                      "Unlocked",
                      "Locked"
                    ]
                  },
                  "x-ms-enum": {
                    "name": "BlobImmutabilityPolicyMode",
                    "modelAsString": false
                  },
                  "description": "Indicates immutability policy mode."
                },
                "x-ms-legal-hold": {
                  "x-ms-client-name": "LegalHold",
                  "schema": {
                    "type": "boolean"
                  },
                  "description": "Indicates if a legal hold is present on the blob."
                }
              }
            },
            "default": {
              "description": "Failure",
              "headers": {
                "x-ms-error-code": {
                  "x-ms-client-name": "ErrorCode",
                  "schema": {
                    "type": "string"
                  }
                }
              },
              "content": {
                "application/xml": {
                  "schema": {
                    "$ref": "#/components/schemas/StorageError"
                  }
                }
              }
            }
          }
        },
        "parameters": [
          {
            "$ref": "#/components/parameters/ContainerName"
          },
          {
            "$ref": "#/components/parameters/Blob"
          },
          {
            "name": "x-ms-blob-type",
            "x-ms-client-name": "blobType",
            "in": "header",
            "required": true,
            "x-ms-parameter-location": "method",
            "description": "Specifies the type of blob to create: block blob, page blob, or append blob.",
            "schema": {
              "type": "string",
              "enum": [
                "PageBlob",
                "AppendBlob",
                "BlockBlob"
              ]
            },
            "x-ms-enum": {
              "name": "BlobType",
              "modelAsString": false
            }
          }
        ]
      }
    },
    "components": {
      "parameters": {
        "Prefix": {
          "name": "prefix",
          "in": "query",
          "description": "Filters the results to return only containers whose name begins with the specified prefix.",
          "schema": {
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          "x-ms-parameter-location": "method"
        },
        "Marker": {
          "name": "marker",
          "in": "query",
          "description": "A string value that identifies the portion of the list of containers to be returned with the next listing operation. The operation returns the NextMarker value within the response body if the listing operation did not return all containers remaining to be listed with the current page. The NextMarker value can be used as the value for the marker parameter in a subsequent call to request the next page of list items. The marker value is opaque to the client.",
          "schema": {
            "type": "string",
            "x-ms-parameter-location": "method"
          },
          "x-ms-parameter-location": "method"
        },
        "MaxResults": {
          "name": "maxresults",
          "in": "query",
          "description": "Specifies the maximum number of containers to return. If the request does not specify maxresults, or specifies a value greater than 5000, the server will return up to 5000 items. Note that if the listing operation crosses a partition boundary, then the service will return a continuation token for retrieving the remainder of the results. For this reason, it is possible that the service will return fewer results than specified by maxresults, or than the default of 5000.",
          "schema": {
            "minimum": 1,
            "type": "integer",
            "x-ms-parameter-location": "method"
          },
          "x-ms-parameter-location": "method"
        },
        "ListContainersInclude": {
          "name": "include",
          "in": "query",
          "description": "Include this parameter to specify that the container's metadata be returned as part of the response body.",
          "style": "form",
          "explode": false,
          "schema": {
            "type": "array",
[...]
